<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuotesOfTheDay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A4428D82C21D3E400D9C042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A4428E92C21D3E500D9C042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A4428F32C21D3E500D9C042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
